<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<section [ngClass]="{'loading':!list.length}" class="todo-list">
    <ul *ngIf="list.length">
        <li  [ngClass]="{'checked':item.checked}" *ngFor="let item of list;let i = index">
            <input type="checkbox" [(ngModel)]="item.checked" >
            <input (keyup)="validateInput(item.task,i)"id="task"  type="text" value="{{item.task}}" [(ngModel)]="item.task">
            <i id="delete" (click)="deleteItem(i)" class="fa-solid fa-delete-left"></i>
        </li>
        
    </ul>
</section>


<app-todo-input-add-itens (taskEventEmitter)="addItem($event)"></app-todo-input-add-itens>
<app-todo-button-delete-all (click)="deletarTodos()" *ngIf="list.length"></app-todo-button-delete-all> 