body{
    background-color: 	#d4dadf;
    padding:0px;
    margin:0px;
    font-weight: bold;
}
h1 {
    width:100%;
    padding:15px 0;
    text-align: center;
    color:rgb(244, 246, 250);
    border-radius:5px 5px 0px 0px;
    background-color: 	#6a8ec8;
    
}
.container {
    width:350px;
    margin:50px auto;
    
}
ul {
    padding:10px;
    list-style: none;
    font-size:18px;
}
ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px;
}
ul li input[type="checkbox"] {
    width:5%;
}
ul li input[type="text"] {
    width:80%;
    font-size:16px;
    color:#95a0b5;
    font-weight: bold;
    padding:5px 10px;
    border:none;
}
ul li i {
    width:10%;
}
input:focus {
    outline: none;
}
.todo-list {
    width:350px;
    height:250px;
    margin:50px auto;
    background-color:white;
    border-radius:0 0 5px 5px;
    margin-top:-5px;
    -webkit-box-shadow: 0px 23px 56px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 23px 56px -30px rgba(0,0,0,0.75);
    box-shadow: 0px 23px 56px -30px rgba(0,0,0,0.75);
    max-height:250px;
    overflow: auto;
}
#delete {
    color:#da7272;
    font-size:18px;
}
#delete:hover {
    color:#c35b5b;
    cursor:pointer;
}